.container {
    width: 400px;
    max-height: 500px;
    margin: 0 auto;
    padding: 0;
}

#rightButton a,
#leftButton a {
    width: 30px;
}

#carousel {
    border: dotted;
    overflow: hidden;
}

#carousel ul {
    padding: 0;
    margin: 0;
    width: 2000px;
}

#carousel li {
    list-style: none;
    float: left;
}

.navigationControls {
    height: 50px;
    text-align: center;
}

.navigationDot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    border: solid black;
    display: inline-block;
    cursor: pointer;
}